/* padding for bootstrap navbar */
body {
  padding-top: 50px;
  padding-bottom: 40px;
}

/* offset scroll position for anchor links (for fixed navbar)  */
.section h2 {
  padding-top: 55px;
  margin-top: -55px;
}
.section h3 {
  padding-top: 55px;
  margin-top: -55px;
}

blockquote {
  font-size: 1em;
}